@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  border: 2px solid transparent;
  border-radius: 20px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.msg-resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(172, 172, 172);
  margin-bottom: 10px;
  margin-top: 10px;
}

.numero-pontuacao {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border: 2px solid transparent;
  border-radius: 50%;
}

.acertos-total {
  margin: 0px;
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}

.acertos {
  margin: 0px;
  font-size: 0.9rem;
  color: rgb(173, 173, 173);
}

.msg-pontuacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.msg {
  width: 220px;
  margin: 0px;
  margin-bottom: 40px;
  text-align: center;
  color: rgb(173, 173, 173);
}
