body {
  padding: 0px;
  margin: 0px;
  background: rgb(236, 227, 139);
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
}

.conteudo {
  border: 2px solid white;
  width: 600px;
  grid: flex;
  flex-direction: column;
  background: white;
  border-radius: 30px;
}

.img-comida {
  width: 93%;
  height: 400px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 16px;
}

.titulo h1 {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.titulo p {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.preparo {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgb(238, 202, 202);
  color: rgb(187, 81, 131);
}

ul {
  background: rgb(238, 202, 202);
}
